/* Hacker Style Theme */
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #000;
    color: #0f0;
  }
  
  header {
    background: #111;
    padding: 20px;
    position: sticky;
    text-align: center;
    border-bottom: 2px solid #0f0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #0f0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff0;
    text-shadow: 0 0 5px #ff0;
  }
  
  .notice-bar {
    background: #222;
    padding: 10px;
    font-size: xxx-large;
    border-top: 1px solid #0f0;
    border-bottom: 1px solid #0f0;
    color: #f0f;
  }
  
  .content-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card {
    background: #111;
    border: 1px solid #0f0;
    box-shadow: 0 0 15px #0f0;
    padding: 20px;
    width: 300px;
    margin: 10px;
  }
  
  .card h2 {
    color: #f0f;
    border-bottom: 1px solid #f0f;
    padding-bottom: 5px;
  }
  
  .card ul {
    list-style-type: star;
    padding-left: 20px;
  }
  
  .card li {
    margin: 10px 0;
    
  }
  
  .card a {
    color: #0ff;
    text-decoration: none;
  }
  
  .card a:hover {
    color: #ff0;
    text-shadow: 0 0 5px #ff0;
  }
  
  footer {
    background: #111;
    color: #999;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 0.9em;
  }
  